<!DOCTYPE html>
<html>
  <head>
    <title>RedflagProjectManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
  <div class="container-fluid">
    <div class="row">
      <!-- Side Menu -->
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to "Dashboard", "/" %>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to("Log out", destroy_user_session_path, data: { turbo_method: :delete }) %>
              </div>
            </li>
            <!-- Add more menu items as needed -->
          </ul>
        </div>
      </nav>
      
      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%= yield %>
      </main>
    </div>
  </div>
</body>
